
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://bootstraptema.ru/snippets/effect/2017/ihover9/ihover.css" />

</head>
<body>
<div class="welcome-grids">
<div class="container">

 
 <div class="col-md-3 welcome-grid text-center">
 <div class="ih-item circle effect9 left_to_right"><a href="#">
 <div class="img"><img src="https://bootstraptema.ru/snippets/icons/2016/mia/3.png" alt="" /></div>
 <div class="info">
 <h4>Заведующий детский садом</h4>
 <p>Антон Артемов</p>
 </div></a>
 </div>
 </div>
 
 <div class="col-md-3 welcome-grid text-center">
 <div class="ih-item circle effect9 left_to_right"><a href="#">
 <div class="img"><img src="https://bootstraptema.ru/snippets/icons/2016/mia/4.png" alt="" /></div>
 <div class="info">
 <h4>Воспитатель</h4>
 <p>Мария Васильева</p>
 </div></a>
 </div>
 </div>  
 <div class="col-md-3 welcome-grid text-center">
    <div class="ih-item circle effect9 left_to_right"><a href="#">
    <div class="img"><img src="https://bootstraptema.ru/snippets/icons/2016/mia/4.png" alt="" /></div>
    <div class="info">
    <h4>Родитель</h4>
    <p>Анастасия Бокова</p>
    </div></a>
    </div>
    </div>
    <div class="col-md-3 welcome-grid text-center">
        <div class="ih-item circle effect9 left_to_right"><a href="#">
        <div class="img"><img src="https://bootstraptema.ru/snippets/icons/2016/mia/1.png" alt="" /></div>
        <div class="info">
        <h4>Медбрат</h4>
        <p>Иван Иванов</p>
        </div></a>
        </div>
        </div>
 <div class="clearfix"></div>

</div>
</div>
</body>
</html>


<div class="container">
    <div class="page-header">
      <h1 id="timeline">Как получить доступ в личный кабинет?</h1>
    </div>
    <ul class="timeline">
      <li>
        <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Обратитесь в администрацию детского сада</h4>
          </div>
          <div class="timeline-body">
            <p> Заполните заявку на получение доступа к личному кабинету.</p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Ожидание регистрирования личного кабинета займет не менее 2 рабочих дней.</h4>
          </div>
          <div class="timeline-body">
            <p>После Вам выдатут личный логин и пароль. </p>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Никому не сообщайте свои личные данные!</h4>
          </div>
          <div class="timeline-body">
            <p>В случае потери обязательно свяжитесь с администрацией детского сада!</p>
          </div>
        </div>
      </li>
 
      <li class="timeline-inverted">
        <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Поздравляем!</h4>
          </div>
          <div class="timeline-body">
            <p>Вы теперь можете пользоватья личным кабинетом.</p>
          </div>
        </div>
      </li>
    </ul>
  </div>



  