<!-- <small *ngIf="isInvalid">Invalid Credentials</small> -->

<!-- <div>
  Username: <input type="text" [(ngModel)]="username">
  Password: <input type="password" [(ngModel)]="password">
  <button (click)="handleLogin()">Login</button>
</div> -->


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<div class="container">
 <div class="row">
 <div class="col-md-offset-3 col-md-6">
 <form class="form-horizontal">
 <span class="heading">АВТОРИЗАЦИЯ</span>
 <div class="form-group">
 <input type="text" [(ngModel)]="username" class="form-control"  placeholder="Логин">
 <i class="fa fa-user"></i>
 </div>
 <div class="form-group help">
 <input type="password" [(ngModel)]="password" class="form-control" placeholder="Пароль">
 <i class="fa fa-lock"></i>
 <a href="#" class="fa fa-question-circle"></a>
 </div>
 <div class="form-group">
 <div class="main-checkbox">
 <input type="checkbox" value="none" id="checkbox1" name="check"/>
 <label for="checkbox1"></label>
 </div>
 <span class="text">Запомнить</span>
 <button (click)="handleLogin()" class="btn btn-default">ВХОД</button>
 </div>
 </form>
 </div>
 </div>
</div>

